{% extends "_include/base.html" %}
{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/help.css') }}" />
{% endblock styles %}
{% block title %}About{% endblock title %}
{% block center_content %}
<div class="row g-0">
  <div class="container-fluid g-0">
    <div class="row g-0">
      <div class="col-12">
        <div class="paperOverlay">
          <h3 class="text-decoration-underline">What is TnCentral?</h3>
          <!-- <hr> -->
          <div class="fs-6" style="text-align: justify">
            <p>
              TnCentral is a Web-resource for prokaryotic transposons, their passenger genes, and their host organisms.
              It
              provides
              a variety of Search functions, BLAST functions for TnCentral and other related databases and a summary
              page
              with
              detailed annotation and a descriptive graphic for each transposon. It also makes available stand-alone
              scripts
              for
              identifying different transposons in genomic sequence data.
            </p>
            <p>
              TnCentral is a database of annotated prokaryotic (bacterial and archaeal) transposons (Tn) of different
              types
              retrieved from a variety of sources (literature, Genbank).
            </p>
            <p>
              TnCentral has also been supplemented by in-house software permitting database mining of Tn3 family and
              Compound
              Tn.
              Additional transposon groups will be added over time.
            </p>
            <p>
              The database can be searched for individual Tn, and their derivatives such as MICs and MITES or Tn groups,
              passenger
              genes such as antibiotic (AbR) or heavy metal resistance, bacterial host, geographical location and date
              of
              isolation.
            </p>
            <p>
              There is a Blast facility which allows comparison of users submitted DNA sequences with Tn in TnCentral.
              The
              developers wish to acknowledge useful discussions with members of the <a href="https://www-is.biotoul.fr/"
                target="_blank">ISfinder</a> team (P.
              Siguier, E. Gourbeyre, J. Perochon).
            </p>
            <p>
              The TnCentral banner is modified from L. Lavatine, S He, A Caumont-Sarcos, C Guynet, B Marty, M Chandler
              and B
              Ton-Hoang (2016) Single strand transposition at the host replication fork NAR doi: 10.1093/nar/gkw661.
            </p>
            <p>
              We also acknowledge the contributions of O. Barabas, A. Hickman, F. Dyda , and D. Lane and of previous
              members
              of the ex-Chandler lab in Toulouse: A. Achard, M. Betermier, A. Caumont-Sarcos, A. Corneloup, G.
              Duval-Valentin,
              JM. Escoubas, P. Gamas, E. Guegen, C. Guynet, L. Haren, S. He, L. Lavatine, C. Loot, B. Marty, C. Normand,
              P.
              Rousseau, N. Pouget, B. Ton Hoang, C. Turlan, AM. Varani, D. Zerbib.
            </p>
            <p>
              The TnCentral version 2 was developed by Francislon Silva de Oliveira.
            </p>
            <p>
              This project was funded in part by <a href="https://www.gov.br/cnpq/pt-br" target="_blank">CNPq</a>,
              grant number 440230/2022-5, within the Call CNPq/MCTI/CT-Biotec number 30/2022.
            </p>
            <div class="fs-6">
              <p class="fw-bold">How to cite us:</p>
              <cite>Ross K, Varani AM, Snesrud E, Huang H, Alvarenga DO, Zhang J,
                Wu C, McGann P, Chandler M. TnCentral: a Prokaryotic Transposable Element Database and Web Portal for
                Transposon Analysis. mBio. 2021 Oct 26;12(5):e0206021. doi: <a
                  href="https://doi.org/10.1128/mBio.02060-21" target="_blank">10.1128/mBio.02060-21</a>. Epub 2021 Sep
                14.
                PMID: <a href="https://pubmed.ncbi.nlm.nih.gov/34517763/" target="_blank">34517763</a>; PMCID:
                PMC8546635.
              </cite>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}