{% extends "_include/base.html" %}
{% block title %}TnCentral Blast{% endblock title %}
{% block styles%}
{% endblock styles%}

{% block center_content %}
<div class="container-fluid global_center">
    <div class="row">
        {% with errors = get_flashed_messages() %}
        {% if errors %}
        <input id="server_error" value="{{errors[0]}}" type="hidden">
        {% else %}
        <input id="server_error" value="" type="hidden">
        {% endif %}
        {% endwith %}
    </div>
    <div class="row">
        <div class="form">
            <form id="form_sequence" action="{{url_for('webui.process_blast')}}" method="post"
                enctype="multipart/form-data">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                <div class="row border-bottom border-dark mt-2">
                    <div class="col-xl-6 col-lg-6">
                        <h4> TnCentral <strong id="head_program">nucleotide</strong> blast</h4>
                    </div>
                    <div class="col-xl-6 col-lg-6">
                        <div class="d-flex justify-content-end">
                            <span>Blast program:&nbsp;&nbsp;&nbsp;</span>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="blast_program" value="blastn"
                                    id="rd_blastn" checked>
                                <label class="form-check-label" for="rd_blastn">
                                    <strong>blastn</strong>
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="blast_program" value="blastp"
                                    id="rd_blastp">
                                <label class="form-check-label" for="rd_blastp">
                                    <strong>blastp</strong>
                                </label>
                            </div>
                        </div> <!-- <div class="d-flex justify-content-end"> -->
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-xl-6 col-lg-6">
                        <label for="txt_sequence" class="">Enter a sequence here:</label>
                    </div>
                    <div class="col-xl-6 col-lg-6">
                        <div class="d-flex justify-content-end">
                            <a class="btn btn-warning" onclick="nuc_ex()" role="button">Paste <span
                                    id="program_example">nucleotide</span>&nbsp;Example</a>
                            <a class="btn btn-warning ms-1" onclick="clear_reset()" role="button">Clear</a>
                        </div>
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col-12">
                        <textarea rows="10" class="form-control" id="txt_sequence" name="txt_sequence"
                            placeholder="Or paste an example using the top right button"></textarea>
                    </div>
                </div> <!-- <div class="row "> -->
                <div class="row mt-2">
                    <div class="col-xl-10 col-lg-10">
                        <label for="fasta_file" class="form-label">Or, upload file (Fasta format):</label>
                        <input type="file" class="form-control-file" id="fasta_file" name="fasta_file">
                    </div>
                    <div class="col-xl-2 col-lg-2">
                        <div class="d-flex justify-content-end">
                            <button class="btn btn-lg btn-primary" type="submit">Submit</button>
                        </div>
                    </div>
                </div>
                <div id="error_sequence" style="display: none;">
                    <div class="row">
                        <div class="col-12 alert alert-danger d-flex align-items-center" role="alert">
                            <span class="material-symbols-outlined">
                                warning
                            </span>
                            <span>
                                Please provide either a sequence or a fasta file.
                            </span>
                        </div>
                    </div>
                </div>
                <div class="accordion mt-2" id="accordionGeneral">
                    <div class="accordion-item">
                        <h1 class="accordion-header" id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Algorithm parameters
                            </button>
                        </h1>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                            data-bs-parent="#accordionGeneral">
                            <div class="accordion-body">
                                <div class="row">
                                    <div class="col-xl-2 col-lg-3 col-md-4">
                                        <label class="form-check-label">Database</label>
                                    </div>
                                    <div class="col-xl-10 col-lg-9 col-md-8">
                                        <div class="d-flex justify-content-start">
                                            <div class="col1">
                                                <input class="form-check-input" type="checkbox" name="db_tn"
                                                    id="db_tn" value="tn" checked disabled>
                                                <label class="form-check-label" for="db_tn">
                                                    &nbsp;TnCentral
                                                </label>
                                            </div>
                                            <div class="col2" id="div_db_in">
                                                &nbsp;&nbsp;<input class="form-check-input" type="checkbox"
                                                    name="db_in" id="db_in" value="in" checked>
                                                <label class="form-check-label" for="db_in">
                                                    &nbsp;INTEGRALL
                                                </label>
                                            </div>
                                            <div class="col3">
                                                &nbsp;&nbsp;<input class="form-check-input" type="checkbox"
                                                    name="db_is" id="db_is" value="is" checked>
                                                <label class="form-check-label" for="db_is">
                                                    &nbsp;ISFinder
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div> <!-- <div class="row"> -->

                                <div class="row mt-2">
                                    <div class="col-xl-2 col-lg-3 col-md-4">
                                        <label class="col-form-label" for="select_display">N&deg; of hits to
                                            display</label>
                                    </div>
                                    <div class="col-xl-2 col-lg-3 col-md-4">
                                        <select class="form-select" aria-label="" id="select_display"
                                            name="select_display">
                                            <option value="10">10</option>
                                            <option value="25" selected>25</option>
                                            <option value="50">50</option>
                                            <option value="100">100</option>
                                        </select>
                                    </div>
                                </div> <!-- <div class="row"> -->
                                <div class="row mt-2">
                                    <div class="col-xl-2 col-lg-3 col-md-4">
                                        <label class="col-form-label" for="select_expect">Expect threshold</label>
                                    </div>
                                    <div class="col-xl-2 col-lg-3 col-md-4">
                                        <select class="form-select" aria-label="" id="select_expect"
                                            name="select_expect">
                                            <option value="10">10</option>
                                            <option value="1">1</option>
                                            <option value="0.1">0.1</option>
                                            <option value="0.01">0.01</option>
                                            <option value="0.001">0.001</option>
                                            <option value="0.0001">0.0001</option>
                                            <option value="0.00001">0.00001</option>
                                            <option value="0.000001">0.000001</option>
                                            <option value="0.0000001">0.0000001</option>
                                        </select>
                                    </div>
                                </div> <!-- <div class="row"> -->

                                <div class="row mt-2">
                                    <div class="col-xl-2 col-lg-3 col-md-4">
                                        <label class="col-form-label" for="select_word">Word size</label>
                                    </div>
                                    <div class="col-xl-2 col-lg-3 col-md-4">
                                        <select class="form-select" aria-label="" id="select_word" name="select_word">
                                        </select>
                                    </div>
                                </div> <!-- <div class="row"> -->

                                <div class="row mt-2" id="div_comp_based">
                                    <div class="col-xl-2 col-lg-3 col-md-4">
                                        <label class="form-check-label">Composition-based?</label>
                                    </div>
                                    <div class="col-xl-10 col-lg-9 col-md-8">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="comp_based" value="yes"
                                                id="comp_based_y">
                                            <label class="form-check-label" for="comp_based_y">
                                                <strong>Yes</strong>
                                            </label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="comp_based" value="no"
                                                id="comp_based_n" checked>
                                            <label class="form-check-label" for="comp_based_n">
                                                <strong>No</strong>
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <div class="row mt-2">
                                    <div class="col-xl-2 col-lg-3 col-md-4">
                                        <label class="form-check-label">Choose filter</label>
                                    </div>
                                    <div class="col-xl-10 col-lg-9 col-md-8">
                                        <div class="d-flex justify-content-start">
                                            <div class="col1">
                                                <input class="form-check-input" type="checkbox" name="filter1"
                                                    id="filter1" value='L' checked>
                                                <label class="form-check-label" for="filter1">
                                                    &nbsp;Low complexity
                                                </label>
                                            </div>
                                            <div class="col2">
                                                &nbsp;&nbsp;<input class="form-check-input" type="checkbox"
                                                    name="filter2" id="filter2" value="m" checked>
                                                <label class="form-check-label" for="filter2">
                                                    &nbsp;Mask for lookup table only
                                                </label>
                                            </div>
                                            <div class="col3">
                                                &nbsp;&nbsp;<input class="form-check-input" type="checkbox"
                                                    name="lcase_mask" id="lcase_mask" value="T">
                                                <label class="form-check-label" for="lcase_mask">
                                                    &nbsp;Mask for lower case letters
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div> <!-- <div class="row"> -->

                                <div class="row mt-2" id="div_scores">
                                    <div class="col-xl-2 col-lg-3 col-md-4">
                                        <label class="col-form-label" for="select_scores">Match/Mismatch scores</label>
                                    </div>
                                    <div class="col-xl-2 col-lg-3 col-md-4">
                                        <select class="form-select" aria-label="" id="select_scores"
                                            name="select_scores">
                                            <option value="1,-1">1,-1</option>
                                            <option value="1,-2">1,-2</option>
                                            <option value="1,-3" selected>1,-3</option>
                                            <option value="1,-4">1,-4</option>
                                            <option value="2,-3">2,-3</option>
                                            <option value="4,-5">4,-5</option>
                                        </select>
                                    </div>
                                </div> <!-- <div class="row mt-2"> -->

                                <div class="row mt-2" id="div_matrix">
                                    <div class="col-xl-2 col-lg-3 col-md-4">
                                        <label class="col-form-label" for="select_matrix">Matrix</label>
                                    </div>
                                    <div class="col-xl-3 col-lg-4 col-md-5">
                                        <select class="form-select" aria-label="" id="select_matrix"
                                            name="select_matrix">
                                            <option value="PAM30">PAM30</option>
                                            <option value="PAM70">PAM70</option>
                                            <option value="BLOSUM80">BLOSUM80</option>
                                            <option value="BLOSUM62" selected>BLOSUM62</option>
                                            <option value="BLOSUM45">BLOSUM45</option>
                                        </select>
                                    </div>
                                </div> <!-- <div class="row mt-2"> -->

                                <div class="row mt-2" id="div_gap_costs">
                                    <div class="col-xl-2 col-lg-3 col-md-4">
                                        <label class="col-form-label" for="select_costs">Gap costs</label>
                                    </div>
                                    <div class="col-xl-3 col-lg-4 col-md-5">
                                        <select class="form-select" aria-label="" id="select_costs" name="select_costs">
                                        </select>
                                    </div>
                                </div> <!-- <div class="row mt-2"> -->
                            </div> <!-- <div class="accordion-body"> -->
                        </div> <!-- <div id="collapseOne" -->
                    </div> <!-- <div class="accordion-item"> -->
                </div> <!-- <div class="accordion mt-2" id="accordionGeneral"> -->
            </form>
        </div> <!-- div.class="form" -->
    </div>
    <hr>
    <div class="row mt-3">
        <div class="col-md-12">
            <form id="form_retrieve" action="{{ url_for('webui.process_blast') }}" method="post">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                <fieldset class="border p-2">
                    <legend class="float-none w-auto">Retrieve blast result</legend>
                    <div class="row">
                        <div class="input-group">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="job_id" name="job_id"
                                    placeholder="Please type a valid Job ID" required>
                                <label for="floatingInput">Please type a valid Job ID</label>
                                <div class="invalid-feedback">
                                    Looks good!
                                </div>
                            </div>
                            <button id="btn_job" class="btn btn-success" type="submit">Retrieve</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div> <!--<div class="col-md-12"> -->
    </div> <!--<div class="row mt-3">-->
    <div class="row mt-3">
        <div class="col-md-12">
            <fieldset class="border p-2">
                <legend class="float-none w-auto">Other Sequence Search Services:</legend>
                <a class="btn btn-info" href="https://isfinder.biotoul.fr/blast.php" target="_blank"
                    role="button">Isfinder</a>
                <a class="btn btn-info" href="https://card.mcmaster.ca/analyze/blast" target="_blank"
                    role="button">CARD</a>
                <a class="btn btn-info" role="button" href="https://bioinfo-mml.sjtu.edu.cn/TADB3/blast.php"
                    target="_blank">Toxin/Antitoxin</a>
                <a class="btn btn-info"
                    href="https://blast.ncbi.nlm.nih.gov/Blast.cgi?PROGRAM=blastn&PAGE_TYPE=BlastSearch&LINK_LOC=blasthome"
                    target="_blank" role="button">NCBI</a>
            </fieldset>
        </div>
    </div> <!-- <div class="row mt-3"> -->
</div> <!-- <div class="container-fluid"> -->

{% endblock %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.7/dist/sweetalert2.all.min.js"></script>

<script>
    function nuc_ex() {
        radio_program = $('input:radio[name=blast_program]:checked').val();
        let sequence = "ataaggtagaataatagaaaaagatagcaggaggaatgacgatgaatcattttaaaggaa"
        sequence += "agcaatttcagcaggatgtgattattgtagccgtgggctactatcttcgttataaccttagctatcgtgaagttcaa";
        if (radio_program === "blastp") {
            sequence = "VVEPQYPARDSVGKLSPFEPKLRQWLSTEHKKTKKLRRNLRSMYRDLVALGFTGSYDRVCAFARQWKDSEQFKAQTSGKGCFIPLRFACGEA";
            sequence += "FQFDWSEDFARIAGKQVKLQIAQFKLAHSRAF";
        }
        $("textarea#txt_sequence").val(sequence.toUpperCase());
    }

    function change_select_from_radio(select_id, radio, comparison, list_true, list_false) {
        items = (radio === comparison) ? list_true : list_false;
        $('#' + select_id).find('option').remove();

        $.each(items, function (i, item) {
            $('#' + select_id).append($('<option>', {
                value: item.value,
                text: item.text
            }).prop('selected', item.selected));
        });
    }

    function change_word_size(radio_program) {
        items_blast_n = [
            { 'text': '6', 'value': '6', 'selected': false },
            { 'text': '16', 'value': '16', 'selected': true },
            { 'text': '24', 'value': '24', 'selected': false },
            { 'text': '28', 'value': '28', 'selected': false },
            { 'text': '32', 'value': '32', 'selected': false }
        ];
        items_blast_p = [
            { 'text': '3', 'value': '3', 'selected': true },
            { 'text': '4', 'value': '4', 'selected': false },
            { 'text': '5', 'value': '5', 'selected': false },
            { 'text': '6', 'value': '6', 'selected': false },
            { 'text': '7', 'value': '7', 'selected': false },
            { 'text': '8', 'value': '8', 'selected': false },
            { 'text': '9', 'value': '9', 'selected': false }
        ];
        change_select_from_radio('select_word', radio_program, 'blastn',
            items_blast_n, items_blast_p);
    }
    function change_gap_costs(radio_program) {
        items_blast_n = [
            { 'text': 'Existence: 5, Extension: 2', 'value': '5,2', 'selected': true },
            { 'text': 'Existence: 4, Extension: 4', 'value': '4,4', 'selected': false },
            { 'text': 'Existence: 2, Extension: 4', 'value': '2,4', 'selected': false },
            { 'text': 'Existence: 0, Extension: 4', 'value': '0,4', 'selected': false },
            { 'text': 'Existence: 3, Extension: 3', 'value': '3,3', 'selected': false },
            { 'text': 'Existence: 6, Extension: 2', 'value': '6,2', 'selected': false },
            { 'text': 'Existence: 4, Extension: 2', 'value': '4,2', 'selected': false },
            { 'text': 'Existence: 2, Extension: 2', 'value': '2,2', 'selected': false }
        ];
        items_blast_p = [
            { 'text': 'Existence: 11, Extension: 1', 'value': '11,1', 'selected': true },
            { 'text': 'Existence: 8, Extension: 2', 'value': '8,2', 'selected': false },
            { 'text': 'Existence: 9, Extension: 2', 'value': '9,2', 'selected': false },
            { 'text': 'Existence: 10, Extension: 1', 'value': '10,1', 'selected': false },
            { 'text': 'Existence: 7, Extension: 2', 'value': '7,2', 'selected': false },
            { 'text': 'Existence: 12, Extension: 1', 'value': '12,1', 'selected': false }
        ];
        change_select_from_radio('select_costs', radio_program, 'blastn',
            items_blast_n, items_blast_p);
    }

    function clear_reset() {
        $("textarea#txt_sequence").val("");
    }
    $(document).ready(function () {
        let server_error = $("#server_error").val();
        if (server_error !== "") {
            Swal.fire({
                position: "center",
                icon: "error",
                title: "The server returned an error",
                text: server_error,
                showConfirmButton: true
            });
        }
        $("#div_matrix").hide();
        $("#div_comp_based").hide();
        let radio_program = 'blastn'; // when the page loads, blastn is the selected value


        change_word_size(radio_program);
        change_gap_costs(radio_program);

        $("#form_retrieve").on('submit', function (e) {
            let job_id = $("#job_id").val();
            if (job_id === "") {
                e.preventDefault();
            }
        });
        $("#form_sequence").on('submit', function (e) {
            txt_sequence = $("#txt_sequence").val();
            fasta_file = $("#fasta_file").val();
            if (txt_sequence === "" && fasta_file === "") {
                $("#error_sequence").show();
                e.preventDefault();
            } else {
                $("#error_sequence").hide();
            }
        });
        $("input[name='blast_program']").change(function () {
            radio_program = $('input:radio[name=blast_program]:checked').val();
            if (radio_program === "blastn") {
                $("#filter1").prop("checked", true);
                $("#filter2").prop("checked", true);
                $("#div_db_in").show();
                $("#div_matrix").hide();
                $("#div_comp_based").hide();
                $("#div_scores").show();
                $("#head_program").text("Nucleotide");
                $("#program_example").text("Nucleotide");
            } else {
                $("#div_db_in").hide();
                $("#filter1").prop("checked", false);
                $("#filter2").prop("checked", false);
                $("#div_matrix").show();
                $("#div_comp_based").show();
                $("#div_scores").hide();
                $("#head_program").text("Protein");
                $("#program_example").text("Protein");
            }
            clear_reset();
            change_word_size(radio_program);
            change_gap_costs(radio_program);
        });
    });

</script>
{% endblock scripts %}