{% extends "_include/base.html" %}
{% block styles %}
<link href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css" rel="stylesheet" />
<link
  href="https://cdn.datatables.net/v/dt/jq-3.6.0/jszip-2.5.0/dt-1.13.4/b-2.3.6/b-html5-2.3.6/b-print-2.3.6/r-2.4.1/sc-2.1.1/sb-1.4.2/sp-2.1.2/sl-1.6.2/datatables.min.css"
  rel="stylesheet" />
<link rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/ext/sweetalert2.min.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
{% endblock styles %}
{% block title %}TE Table{% endblock title %}

{% block center_content %}
<div class="container-fluid global_center">
  <div class="row">
    <div id="div_error" class="alert alert-danger" role="alert" style="display: none;">
      <span class="material-symbols-outlined menu_middle">
        warning
      </span>
      <span class="menu_middle">The search returned zero results.</span>
      &nbsp;&nbsp;&nbsp;
      <a href="{{url_for('webui.tn_search')}}" class="btn btn-info" style="vertical-align: middle;">
        Return to Search Page
        <span class="material-symbols-outlined" style="vertical-align: middle;">
          keyboard_return
        </span>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="table-responsive" id="tbl_wrapper">
      <table id="tbl_transposons" class="table table-hover display" style="width:100%">
        <thead>
          <tr>
            <th class="select-checkbox"><input id="checkBox" type="checkbox"></th>
            <th>Accession</th>
            <th>Name</th>
            <th>Synonyms</th>
            <th>Type</th>
            <th>Family</th>
            <th>Group</th>
            <th>Host Org.</th>
            <th>Country</th>
            <th>Isolation</th>
          </tr>
        </thead>
      </table>
    </div>
  </div>
</div>
{% endblock %} {% block scripts %}

<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js"></script>
<script
  src="https://cdn.datatables.net/v/dt/jq-3.6.0/jszip-2.5.0/dt-1.13.4/b-2.3.6/b-html5-2.3.6/b-print-2.3.6/r-2.4.1/sc-2.1.1/sb-1.4.2/sp-2.1.2/sl-1.6.2/datatables.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.7/dist/sweetalert2.all.min.js"></script>
<script>

  let base_url = "{{ url_for('webui.index') }}";
  // if(base_url === "/"){
  //   base_url = "";
  // }
  console.log(base_url);
  let args_length = "{{ args.items()|length }}";
  function download_selection(dt, ext) {
    let rows_selected = dt.rows({ selected: true });
    let params = "ext=" + ext;
    if (rows_selected.count() > 0) {
      data = rows_selected.data();
      params += "&accession=" + data[0].accession;
      for (i = 1; i < rows_selected.count(); i++) {
        params += "&accession=" + data[i].accession;
      }
    } else {
      {% for key, value in args.items() %}
      params += "&{{ key }}={{ value }}";
      {% endfor %}
    }
    // first check:
    let url = base_url + 'api/check_download/';
    url += "?" + params;
    $.ajax({
      type: "GET",
      url: url,
      contentType: "application/json; charset=utf-8",
      dataType: "json",
      async: false,
      success: function (data) {
        if (data.status === "ok") {
          let url = base_url + 'api/new_download/';
          url += "?file=" + data.file;
          window.location = url;
        } else {
          const swalWithBootstrapButtons = Swal.mixin({
            customClass: {
              confirmButton: "btn btn-danger",
              cancelButton: "btn btn-success"
            },
            buttonsStyling: true
          });
          swalWithBootstrapButtons.fire({
            title: "Error!",
            text: "Sorry, the file requested was not found in our server!",
            icon: "error"
          });
        }
      },
      error: function (XMLHttpRequest, textStatus, errorThrown) {
        console.log(textStatus);
        console.log(errorThrown);
      }
    });
  }
  $.fn.dataTable.ext.buttons.drop_selected = {
    extend: 'collection',
    text: 'Export as',
    buttons: ['csv_selected', 'fasta_selected', 'genbank_selected'],
    autoClose: true,
    fade: true
  };


  $.fn.dataTable.ext.buttons.csv_selected = {
    text: 'CSV',
    extend: 'csvHtml5',
    action: function (e, dt, node, config) {
      download_selection(dt, "csv");
    }
  }
  $.fn.dataTable.ext.buttons.fasta_selected = {
    text: 'Fasta',
    action: function (e, dt, node, config) {
      download_selection(dt, "fa");
    }
  };

  $.fn.dataTable.ext.buttons.genbank_selected = {
    text: 'Genbank',
    action: function (e, dt, node, config) {
      download_selection(dt, "gb");
    }
  };
  $.fn.dataTable.ext.buttons.snapgene_selected = {
    text: 'SnapGene',
    action: function (e, dt, node, config) {
      download_selection(dt, "dna");
    }
  };
  $(document).ready(function () {
    var table = $('#tbl_transposons').on('preXhr.dt', function (e, settings, data) {
      {% for key, value in args.items() %}
      data["{{ key }}"] = "{{ value }}";
      {% endfor %}
    }).on('preDraw.dt', function (e, settings) {
      let dt_json = settings.json;
      if (dt_json) {
        if (dt_json.recordsTotal === 0) {
          $("#div_error").show();
          $('#tbl_wrapper').hide();
          return false;
        } else if (dt_json.recordsTotal === 1) {
          url = base_url + "report/te/" + dt_json.data[0].accession;
          window.location.href = url;
          return false;
        }
      }
    })
      .DataTable({
        paging: true,
        processing: true,
        serverSide: true,
        responsive: true,
        order: [1, 'asc'],
        select: {
          style: 'multi',
          selector: 'td:first-child'
        },
        ajax: base_url + 'api/te/',
        columns: [
          { data: 'select' },
          {
            data: 'accession',
            "render": function (data, type, row, meta) {
              if (type === 'display') {
                data = "<a href ='" + base_url + "report/te/" + data + "'>" + data + "</a>";
              }

              return data;
            }
          },
          { data: 'name' },
          { data: 'synonyms' },
          { data: 'type' },
          { data: 'family' },
          { data: 'group' },
          { data: 'organism' },
          { data: 'country' },
          { data: 'date' }
        ],
        "columnDefs": [
          // { "visible" : false,"targets": [0], "searchable": false}
          { targets: 0, orderable: false, className: 'select-checkbox' }
        ],
        dom: 'lBfrtip',
        buttons: {
          name: 'primary',
          buttons: [{
            extend: 'spacer',
            style: 'bar',
            text: '<b>Export as</b>'
          }, 'csv_selected', 'fasta_selected', 'genbank_selected', 'snapgene_selected']
        }
      });

    $('#checkBox').on('click', function () {
      if ($('#checkBox').is(':checked')) {
        table.rows().select();
      }
      else {
        table.rows().deselect();
      }
    });

  });
</script>
{% endblock scripts %}