{% extends "_include/base_admin.html" %}
{% block title %}Change password{% endblock title %}

{% block content %}
{% with errors = get_flashed_messages(category_filter=["error"]) %}
{% with success = get_flashed_messages(category_filter=["success"]) %}
<div class="row">
    {% if errors %}
      {% for message in errors %}
        <div class="alert alert-danger" role="alert">
          <h5>{{ message }}</h5>
        </div>
      {% endfor %}
    {% endif %}
    {% if success %}
      {% for message in success %}
        <div class="alert alert-success" role="alert">
          <h5>{{ message }}</h5>
        </div>
      {% endfor %}
    {% endif %}
</div>
{% endwith %}
{% endwith %}
<div class="row">
  <div class="col-4">
    <form action="{{ url_for('admin.submit_change_pwd') }}" method="post">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
      <h5 class="text-center mb-3 fw-normal">Change Password</h5>

      <div class="form-floating">
        <input type="password" class="form-control" id="cur_pwd" name="cur_pwd" placeholder="Current Password">
        <label for="username">Current Password</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="new_pwd" name="new_pwd" placeholder="New Password">
        <label for="new_pwd">New Password</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="con_new_pwd" name="con_new_pwd" placeholder="Confirm Password">
        <label for="con_new_pwd">Confirm Password</label>
      </div>
      <button class="w-100 btn btn-lg btn-primary" type="submit">Update Password</button>
    </form>
  </div>
</div>
{% endblock %}